[mons]
ingress-1.s$STUDENT.slurm.io monitor_address=$SNET.5
node-1.s$STUDENT.slurm.io monitor_address=$SNET.6
node-2.s$STUDENT.slurm.io monitor_address=$SNET.7

[osds]
ingress-1.s$STUDENT.slurm.io
node-1.s$STUDENT.slurm.io
node-2.s$STUDENT.slurm.io

[mgrs]
ingress-1.s$STUDENT.slurm.io
node-1.s$STUDENT.slurm.io
node-2.s$STUDENT.slurm.io

[mdss]
ingress-1.s$STUDENT.slurm.io
node-1.s$STUDENT.slurm.io
node-2.s$STUDENT.slurm.io
